<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.foodorderapp">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FoodOrderApp"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".Selectstation2Activity"
            android:exported="true" />
        <activity
            android:name=".SelectStationActivity"
            android:exported="true" />
        <activity
            android:name=".GpsActivity"
            android:exported="true" />
        <activity
            android:name=".SelectTrainActivity"
            android:exported="true" />
        <activity
            android:name=".RemoveActivity"
            android:exported="true" />
        <activity
            android:name=".HotelActivity"
            android:exported="true" />
        <activity
            android:name=".ChefRestPasswordActivity"
            android:exported="true" />
        <activity
            android:name=".ChefRegistrationActivity"
            android:exported="true" />
        <activity
            android:name=".ChefLoginActivity"
            android:exported="true" />
        <activity
            android:name=".Choose_OneActivity"
            android:exported="true" />
        <activity
            android:name=".RestPasswordActivity"
            android:exported="true" />
        <activity
            android:name=".RegistrationActivity"
            android:exported="true" />
        <activity
            android:name=".LoginActivity"
            android:exported="true" />
        <activity android:name=".OrderSucceessActivity" />
        <activity android:name=".PlaceYourOrderActivity" />
        <activity android:name=".RestaurantMenuActivity" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".GetAddressIntentService" />

        <activity android:name=".MainActivity" />
    </application>

</manifest>